<div class="panel panel-default">
    <div class="panel-heading clearfix">
        <p class="panel-title pull-left">黑名单列表</p>
        <button class="btn btn-default btn-xs pull-right">查询</button>
    </div>
    <div class="panel-body">
        <div class="col-md-2">
            <div class="form-group">
                <label>号码</label>
                <input class="form-control input-sm">
            </div>
        </div>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th>号码</th>
        </tr>
        </thead>
        <tbody>
        <tr></tr>
        </tbody>
    </table>
</div>