<div ng-switch="currentContent">
    <div ng-switch-default="home" >
        <div ng-include="'views/home.html'" ng-controller="HomeCtrl"></div>
    </div>
    <div ng-switch-when="department" >
        <div ng-include="'views/department.html'" ng-controller="DepartmentCtrl"></div>
    </div>
    <div ng-switch-when="work_order_accept">
        <div ng-include="'views/work_order_accept.html'" ng-controller="WorkOrderAcceptCtrl"></div>
    </div>
    <div ng-switch-when="work_order_dispatch">
        <div ng-include="'views/work_order_dispatch.html'" ng-controller="WorkOrderDispatchCtrl"></div>
    </div>
    <div ng-switch-when="work_order_handle">
        <div ng-include="'views/work_order_handle.html'" ng-controller="WorkOrderHandleCtrl"></div>
    </div>
    <div ng-switch-when="work_order">
        <div ng-include="'views/work_order.html'" ng-controller="WorkOrderCtrl"></div>
    </div>
    <div ng-switch-when="wiki_maintenance">
        <div ng-include="views/wiki_maintenance.html" ng-controller="WikiMaintenanceCtrl"></div>
    </div>
</div>