<div ng-switch="currentContent">
    <div ng-switch-default="home" >
        <div ng-include="'views/home.html'" ></div>
    </div>
    <div ng-switch-when="department" >
        <div ng-include="'views/department.html'" ></div>
    </div>
    <div ng-switch-when="work_order_accept">
        <div ng-include="'views/work_order_accept.html'"></div>
    </div>
    <div ng-switch-when="work_order_dispatch">
        <div ng-include="'views/work_order_dispatch.html'"></div>
    </div>
    <div ng-switch-when="work_order_handle">
        <div ng-include="'views/work_order_handle.html'" ></div>
    </div>
    <div ng-switch-when="work_order">
        <div ng-include="'views/work_order.html'" ></div>
    </div>
    <div ng-switch-when="wiki_maintenance">
        <div ng-include="'views/wiki_maintenance.html'"></div>
    </div>
    <div ng-switch-when="record">
        <div ng-include="'views/record.html'"></div>
    </div>
    <div ng-switch-when="call_his">
        <div ng-include="'views/call_his.html'" ></div>
    </div>
    <div ng-switch-when="blacklist">
        <div ng-include="'views/blacklist.html'"></div>
    </div>
    <div ng-switch-when="vip">
        <div ng-include="'views/vip.html'"></div>
    </div>
    <div ng-switch-when="voice_message">
        <div ng-include="'views/voice_message.html'"></div>
    </div>
</div>