<div ng-controller="HomeCtrl">
    <div class="col-md-6 ">
        <div class="panel panel-default text-center">
            <div class="panel-heading">
                <p><i class="glyphicon glyphicon-tags"></i> 满意度</p>
            </div>
            <div class="panel-body">
                <chart height="200" width="200" type="Pie" value="ssiChart"></chart>
            </div>
        </div>

    </div>
    <div class="col-md-6">
        <div class="panel panel-default text-center">
            <div class="panel-heading">
                <p><i class="glyphicon glyphicon-tags"></i> 工单受理</p>
            </div>
            <div class="panel-body">
                <chart height="200" width="400" type="Line" value="wotChart"></chart>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default text-center">
            <div class="panel-heading">
                <p><i class="glyphicon glyphicon-tags"></i> 工单处理</p>
            </div>
            <div class="panel-body">
                <chart height="200" width="400" type="Line" value="woChart"></chart>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default text-center">
            <div class="panel-heading">
                <p><i class="glyphicon glyphicon-tags"></i> 话务量</p>
            </div>
            <div class="panel-body">
                <chart height="200" width="400" type="Bar" value="callChart"></chart>
            </div>
        </div>
    </div>
</div>