<div class="col-md-8">
    <div ng-show="hasError"><div class="alert-warning alert"><strong>错误:</strong>{{error}}<button class="close" ng-click="hideError()">&times;</button></div></div>
    <div class="tree well" family="treeFamily">
        <ul dtree family="treeFamily"></ul>
    </div>
</div>
<div class="col-md-4">
    <div class="list-group">
        <a href="" class="list-group-item"></a>
    </div>
</div>


<script type="text/ng-template" id="wtree.html">
    <li ng-repeat="child in family.children">
        <div dnode data="child"></div>
        <ul dtree family="child" ng-if="child.children.length > 0"></ul>
    </li>
</script>

<script type="text/ng-template" id="wnode.html">
    <span><i class="glyphicon"
             ng-class="{'glyphicon-leaf': data.children.length == 0, 'glyphicon-minus-sign': data.children.length > 0}"></i> {{data.name}}</span>
    <button class="btn btn-xs btn-default">子项</button>
    <div class="node-input hide">
        <input class="" ng-model="childName" >
        <button class="btn btn-xs btn-success" ng-click="nodeAddChild(data.name)">提交</button>
    </div>

    <button class="btn btn-xs btn-default">同级</button>
    <div class="node-input hide">
        <input class="" ng-model="nodeName">
        <button class="btn btn-xs btn-success" ng-click="nodeAdd(data.name)">提交</button>
    </div>

    <button class="btn btn-xs btn-default">修改</button>
    <div class="node-input hide">
        <input class="" ng-model="newName">
        <button class="btn btn-xs btn-success" ng-click="nodeRename(data.name)">提交</button>
    </div>

    <button class="btn btn-xs btn-default">删除</button>
    <div class="node-input hide">
        <button class="btn btn-xs btn-success" ng-click="nodeRemove(data.name)">提交</button>
    </div>
</script>