<div class="panel panel-default">
    <div class="panel-heading clearfix">
        <p class="panel-title pull-left">
            基本信息
        </p>

        <div user-info-toolbar></div>
    </div>
    <div class="panel-body">
        <div class="row">
            <div form-input label="客户姓名" input="userInfo.name" col="3"></div>
            <div form-input label="称呼" input="userInfo.sex" col="3"></div>
            <div form-input label="联系人" input="userInfo.contact" col="3"></div>
            <div form-input label="地址" input="userInfo.address" col="6"></div>
        </div>
    </div>
</div>

        <p>{{testValue}}</p>
<input typeahead ng-model="testtypeahead" remote="data.json" value="testValue">

<script type="text/ng-template" id="user_info_toolbar.html">
    <div class="btn-group btn-group-xs pull-right">
        <button class="btn btn-default" title="把客户加入黑名单">黑名单</button>
        <button class="btn btn-default" title="查询客户">查询</button>
        <button class="btn btn-default" title="添加客户">添加</button>
    </div>
</script>