<div class="panel panel-default">
    <div class="panel-heading clearfix">
        <p class="panel-title pull-left">工单派发</p>
        <button class="btn btn-default btn-xs pull-right">查询</button>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-2">
                <div class="form-group">
                    <label>单号</label>
                    <input class="form-control input-sm">
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label>姓名</label>
                    <input class="form-control input-sm">
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label>电话</label>
                    <input class="form-control input-sm">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>地址</label>
                    <input class="form-control input-sm">
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label>开始时间</label>
                    <input class="form-control input-sm">
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label>结束时间</label>
                    <input class="form-control input-sm">
                </div>
            </div>
        </div>
    </div>
    <table></table>
</div>